<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider JS</title>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

    <!-- inizio vue -->
    <div id="root">
        <div class="container">
            <div class="items">
                
                <div v-for="(item, index) in thumbs" class="item" :class="index === currentSlide ? 'active' : ''">
                    <img :src="item.image" alt="">

                    <div class="text">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.text }}</p>
                    </div>
                </div>
            </div>

            <div class="thumbs">
                <div @click="addPrev" class="prev"></div>
                <div v-for="(item, index) in thumbs">
                    <div class="thumb" :class="index === currentSlide ? 'active' : ''">
                        <img :src="item.image" alt="">
                    </div>
                </div>
                
                <div @click="addNext" class="next"></div>
            </div>
       </div>
    </div>
    <!-- fine vue -->

    <script src="js/script.js"></script>
</body>
</html>